{{define "body"}}
{{template "header"}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img height="48" src="/img/title.png"></a>
</nav>
<div class="container" style="width:100%;padding:10px">
  <div class="card border-primary">
    <div class="card-header text-white bg-info">
      <b>STEP1: Lookup the Words</b>
    </div>    
    <div class="card-body">
      <div class="form-group">
        <label for="words"><i class="fas fa-info-circle"></i>&nbsp;enter all words below, separate them by comma or new line.</label>
        <textarea class="form-control" id="words" rows="5" style="border-color:cadetblue;resize:none"></textarea>
      </div>
      <button type="button" class="btn btn-info float-right" style="font-weight:bold">Lookup</button>      
    </div>
  </div>
</div>
{{template "progress"}}
{{template "footer"}}
{{end}}