{{define "progress"}}
<div class="modal" id="wipDialog" data-backdrop="static" data-keyboard=false role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Please wait...</h5>
      </div>
      <div class="modal-body">
        <div class="progress" style="margin-top:4px;height:30px;display:inline-block;width:calc(100% - 90px)">
          <div id="wipProgress" class="progress-bar progress-bar-success progress-bar-striped active"
            role="progressbar" style="height:30px;font-weight:bold;font-size:1rem"></div>
        </div>
        <button id="interrupt" class="btn btn-danger float-right">Cancel</button>
      </div>
    </div>
  </div>
</div>
<script>
function setWIProgress(percent) {
    $('#wipProgress').css("width", percent + "%")
    $('#wipProgress').text(percent + "%")
}

function showWIPDialog(cancel) {
    if (typeof(cancel) == "function") {
        $('#interrupt').css("display", "")
        $('#interrupt').click(function() {
            cancel()
            hideWIPDialog(0)
        })
    } else {
        $('#wipDialog .progress').css("width", "100%")
        $('#interrupt').css("display", "none")
    }
    setWIProgress(0)
    $("#wipDialog").modal("show");
}
function hideWIPDialog(delay) {
    var timeout = 1000
    if (typeof(delay) == "number" && delay>=0 && delay <= 1000) {
        timeout = delay
    }
    if (timeout == 0) {
        $("#wipDialog").modal("hide")
        return
    }
    setTimeout(`$("#wipDialog").modal("hide")`, timeout)
}
</script>
{{end}}